<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>เข้าสู่ระบบ | Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="relative min-h-screen">
    
    <!-- Form on top of slideshow -->
    <div class="relative z-10 mx-auto max-w-md sm:max-w-lg md:max-w-xl lg:max-w-2xl px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-center min-h-screen py-8 sm:py-12">
            <a href="/" class="flex items-center mb-8 text-2xl font-semibold text-gray-900">
                <img class="h-16 sm:h-20 w-auto" src="https://f.ptcdn.info/307/024/000/1412864811-pumacoma-o.jpg" alt="logo">
            </a>
            <div class="w-full bg-white rounded-xl shadow-xl">
                <div class="p-6 sm:p-8 md:p-10 space-y-4 sm:space-y-6 md:space-y-8">
                    <h1 class="text-lg sm:text-xl md:text-2xl font-bold leading-tight tracking-tight text-gray-900">
                        Sign in to your account
                    </h1>
                    <form class="space-y-4 sm:space-y-6 md:space-y-8" action="/login" method="POST">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                            <input type="email" name="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-black block w-full p-2 sm:p-2.5"
                                placeholder="name@company.com" required>
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:border-black block w-full p-2 sm:p-2.5"
                                required>
                        </div>
                        <div class="flex justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox"
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-black">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                            <a href="#" class="text-sm font-medium text-gray-500 hover:underline">Forget password</a>
                        </div>
                        <button type="submit"
                            class="w-full text-white  bg-black focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign
                            in</button>

                        <p class="text-sm font-light text-gray-500">
                            Don’t have an account yet? <a href="/register"
                                class="font-medium text-primary-600 hover:underline">Sign up</a>
                        </p>
                        <% if (error) { %>
                            <p class="text-sm text-red-500 font-medium">
                                <%= error %>
                            </p>
                            <% } %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>