
     <section class=" text-white bg-black py-2 ">
        <div class="container text-center">
            <p>Sign up and get 20% off to your first order. <span class="underline">Sign Up Now</span></p>
            <button type="button" class="absolute right-0 top-0 z-10 py-2 px-3 cursor-pointer">
                X
            </button>
        </div>
    </section>
    <nav class="p-3">
      <div class="container flex items-center gap-5 ">

        <div>
          <ul class="flex items-center gap-5">
            <a href="/"><img src="https://f.ptcdn.info/307/024/000/1412864811-pumacoma-o.jpg" alt="" width="100px" height="30px"></a>
            <li><a href="/login" class=" font-bold">Shop</a></li>
            <li><a href="/login" class=" font-bold">OnSale</a></li>
            <li><a href="/login" class=" font-bold">New Arrivals</a></li>
            <li><a href="/login" class=" font-bold">Brands</a></li>
          </ul>
        </div>

        <div class="flex-1">
          <input type="search" placeholder="Search for products..." class="bg-gray-200 w-full rounded-full py-1 px-3">
        </div>

        <div>
          <a href="/login" target="_blank">Login</a>
        </div>
      </div>
    </nav>